@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.bg-page {
    background: #222831;
    /* background: linear-gradient(0deg, rgba(255, 46, 99, 1) 10%, rgba(37, 42, 52, 1) 50%); */
}

.bg-header {
    background: #222831;
    /* background: linear-gradient(90deg, rgba(37, 42, 52, 1) 30%, rgba(255, 46, 99, 1) 100%); */
}

.not-allowed {
    cursor: not-allowed;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #FF2E63;
    background: linear-gradient(to top, #FF2E63, #222831);
    opacity: 0.75;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner-border {
    width: 5em;
    height: 5em;
}

/* 
#content {
    background: url("/assets/template/img/undraw_designer_re_5v95.svg") no-repeat right bottom fixed;
    background-size: 100px 100px;
} */

.container-fluid {
    opacity: 0.97;
}

input[type=date] {
    cursor: pointer;
}

.scroll-to-top {
    background: hsl(345, 100%, 55%);
}

.scroll-to-top:hover {
    background: hsl(345, 100%, 65%);
}

.card-header {
    background-color: #222831 !important;
}

.card-header h6 {
    color: #fff !important;
}

table td,
table th,
th a,
td a,
th button,
td button,
.pagination {
    font-size: 2vh !important;
}

.btn-w-100 {
    font-size: 3vh;
    width: 100px;
}

.calendar {
    display: flex;
    flex-flow: column;
}

.calendar .header .month-year {
    font-size: 20px;
    font-weight: bold;
    color: #636e73;
    padding: 20px 0;
}

.calendar .days {
    display: flex;
    flex-flow: wrap;
}

.calendar .days .day_name {
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    padding: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #818589;
    color: #fff;
    background-color: #222831;
}

.calendar .days .day_name:nth-child(7) {
    border: none;
}

.calendar .days .day_num {
    display: flex;
    flex-flow: column;
    width: calc(100% / 7);
    border-right: 1px solid #e6e9ea;
    border-bottom: 1px solid #e6e9ea;
    padding: 15px;
    font-weight: bold;
    color: #7c878d;
    cursor: pointer;
    min-height: 100px;
}

.calendar .days .day_num span {
    display: inline-flex;
    width: 30px;
    font-size: 14px;
}

.calendar .days .day_num .event {
    margin-top: 10px;
    font-weight: 500;
    font-size: 9px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: #FF2E63;
    color: #fff;
    word-wrap: break-word;
}

.calendar .days .day_num .event.green {
    background-color: #51ce57;
}

.calendar .days .day_num .event.blue {
    background-color: #518fce;
}

.calendar .days .day_num .event.red {
    background-color: #ce5151;
}

.calendar .days .day_num:nth-child(7n+1) {
    border-left: 1px solid #e6e9ea;
}

.calendar .days .day_num:hover,
.calendar .days .day_num.selected:hover {
    color: #FF2E63;
    background-color: #222831;
}

.calendar .days .day_num.ignore {
    background-color: #fdfdfd;
    color: #ced2d4;
    cursor: inherit;
}

.calendar .days .day_num.selected {
    background-color: #e7e7e7;
}

.calendar .event a {
    color: #fff;
}
