@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.bg-page {
    background: #5A3F37;
    background: linear-gradient(to top, #FF2E63, #00ADB5);

}

.bg-header {
    background: #0f0c29;
    background: linear-gradient(to left, #FF2E63, #00ADB5);
}
